.header {
  display: block;
  min-height: 64px;
  padding: 1em 0;
  text-align: center;
  letter-spacing: -0.02em;
}

.header ul {
  list-style: none;
  padding: 0;
}

.header ul li {
  display: inline-block;
  padding: 0 10px;
}

.header a {
  color: #000;
  font-weight: 400;
}

.header :global(a.active) {
  color: #0ab924;
  font-weight: 600;
}

@media (max-width: 600px) {
  .header {
    padding: 0.5em 0 1.5em;
  }
}
